<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-default navbar-static-top" id="topheader">
        <a class="navbar-brand" href="#">        
            <div class="logo-img">
                <img src="/assets/images/newlogo.jpg"/>
            </div>
        </a>
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="nav navbar-nav nav-pills" >
                <h3><li class="nav-item text-uppercase ml-4 px-2"><a class="nav-link" routerLink="clients">Ügyfelek</a></li></h3>
                <h3><li class="nav-item text-uppercase ml-4 px-2"><a class="nav-link" routerLink="sites">Telephelyek</a></li></h3>
                <h3><li class="nav-item text-uppercase ml-4 px-2 active"><a class="nav-link" routerLink="dashboard">Munkák</a></li></h3>
            </ul>
        </div>
    </nav>  
<router-outlet></router-outlet>

